*{margin: 0; padding: 0;}

#encabezado_carito{
  width: 100%;
  overflow: hidden;
  background: #B9EF12;
  margin-bottom: 20px;
}

.wrapper{
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  }
  #encabezado_carito .logo_carito{
    color: #7C0A22;
    font-size: 50px;
    line-height: 100px;
    float: left;

    }

    #encabezado_carito nav{
      float: right;
      line-height: 80px;
    }

    #encabezado_carito nav a{

      display: inline-block;
      color: #4133E3;
      text-decoration: none;
      padding: 10px 20px;
      line-height: normal;
      font-weight: bold;
      font-size: 20px;
      -webkit-transition:all 500ms ease;
      -o-transition:all 500ms ease;
      transition: all 500ms ease;
    }
#encabezado_carito nav a:hover{
  background: #f56f3a;
  border-radius: 50px;
}
  .encabezado_carito2 {
    position: fixed;
    height: 200px;
    }
  .encabezado_carito2 .logo_carito{
    line-height: 60px;
    font-size: 10px;
  }
.encabezado_carito2 nav{
  line-height: 100px;
}


#logo{
  display: grid;
  margin: auto;
}

p{
  color:white;
  text-align: justify;
  font-size: 1em;
  font-family: sans-serif;
}
#letra_1::first-letter{
  font-size: 36px;
  color: gold;

}
  #primera_letra::first-letter{
    font-size: 36px
    color:gold;
  }

  h1{
    background: orange;
    text-align: center;
    font-style: oblique;
    color: white;
    font-size: 42px;
  }

h2{
color: yellow;
text-align: inherit;
font-style: oblique;

}
nav{
  color:yellow;
  }
  h3{
    color:orange;
  }
h4{
  color: yellow;
  text-align: inherit;
  font-style: oblique;
}
h5{
  color: yellow;
  text-align: inherit;
  font-style: oblique;
}
  #Cabecera{
    color:white;
  }
#Pie{
  color:silver;
}
footer{
  color:silver;
}
.clase_cerete{
  color: #inherit;
  font-style:italic;
}
a:link{
  color:green;
}
a:visited{
  color:blue;
}
tr:first-child{
  background:#B8FAD5;

}
tr:last-child{
  background:#F8ADE8;
}
tr:nth-child(2n){
  background: #F4CC18;
}
tr:nth-child(4n){
  background: #F4ED78;
  }
#tabla_municipios{
  display: contents;
  font-size: 40px;

}

#india{
  display:grid;
  margin:auto;
  border-style: ridge;
}
#iglesia{
  display: grid;
  margin: auto;
  border-style: ridge;
}
#text_iglesia{
  text-align: center;
}
