#logo{
  display: grid;
  margin: auto;
}

p{
  color:white;
  text-align: justify;
  font-size: 1em;
  font-family: sans-serif;
}
#letra_1::first-letter{
  font-size: 36px;
  color: gold;

}
  #primera_letra::first-letter{
    font-size: 36px
    color:gold;
  }

  h1{
    background: orange;
    text-align: center;
    font-style: oblique;
    color: white;
    font-size: 42px;
  }

h2{
color: yellow;
text-align: inherit;
font-style: oblique;

}
nav{
  color:yellow;
  }
  h3{
    color:orange;
  }
h4{
  color: yellow;
  text-align: inherit;
  font-style: oblique;
}
h5{
  color: yellow;
  text-align: inherit;
  font-style: oblique;
}
  #Cabecera{
    color:white;
  }
#Pie{
  color:silver;
}
footer{
  color:silver;
}
.clase_cerete{
  color: #inherit;
  font-style:italic;
}
a:link{
  color:green;
}
a:visited{
  color:blue;
}
tr:first-child{
  background:#B8FAD5;

}
tr:last-child{
  background:#F8ADE8;
}
tr:nth-child(2n){
  background: #F4CC18;
}
tr:nth-child(4n){
  background: #F4ED78;
  }
#tabla_municipios{
  display: contents;
  font-size: 40px;

}

#india{
  display:grid;
  margin:auto;
  border-style: ridge;
}
#iglesia{
  display: grid;
  margin: auto;
  border-style: ridge;
}
#text_iglesia{
  text-align: center;
}
